/*
body,
footer {
    cursor: url(./assets/img/cursor/cursor.png), auto;
}


body {
    /*background: url(./assets/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
*/
/*
td:hover,
i:hover,
button:hover:enabled,
a:hover,
.carousel-control-prev:hover,
.carousel-control-next:hover {
    cursor: url(../assets/img/cursor/pointer.png), pointer;
}
*/

